.card-img {
  /* max-width: 40%;
  max-height: auto; */
  max-height:200px;
  max-width:200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  vertical-align: middle;
  horizontal-align: middle;
}

.dashboard-LHS-columns {
background-color: #F8F8F8;
font-size:20px;
}

.dashboard-RHS-columns {
background-color: #31302F;
font-size:20px;
}

.dashboard-chart { position: relative; top: 0px; left: 0px; width: 100%;  height: 100%; display: block ; padding-top: 0px; padding-bottom: 0px;}

.greennav{
background-color: #00b300;
}